*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../zz.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}
ul{
	float: right;
	list-style-type: none;
	list-style-position: inherit;
	font-size: 15px;
	margin-top: 25px;
	margin-right: 25px;
}
#n1 a{
	background-color: orange;
	color: white;

}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color:whitesmoke;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease-in-out;
}
ul li a:hover{
	background-color:orange;
	color:white;
}
.logo img{
	float:left;
	width: 100px;
	height: auto;
	margin-top: 10px;
	margin-left: 10px;
}
.main{
	max-width: 1300px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	
}
.title details summary{
	color:lightgray;
	font-style: normal;
	
	font-size: 50px;
	margin-bottom: 20px;
	display: inline-block;
	border: 1px solid transparent;
	padding: 5px 5px;
	
	transition: 0.6s ease-in-out;


}
.para  p{
	color: aquamarine;
	font-style: initial;
	font-size: 20px;
	margin-top: 40px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.para q{
	font-variant-caps: all-small-caps;
	color:yellow;
	font-style: unset;
}
.title img{
	float: right;
	width:100px;
	height:auto;
	position:right;
	margin-right: 100px;
	margin-bottom: 20px;
	padding: 4px 10px;
	
	
}
.button{
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%,-50%);

}
.btn{
	border: 1px solid gray;
	padding: 10px 30px;
	color:white;
	text-decoration: none;
	transition: 0.6s ease-in-out;
	
}
.btn:hover{
	background-color: orange;
	color: white;
}
.o:hover{
	background-color: gray;
	color: black;

}
